
/* ---------------------------------- LEFT SIDE NAV FIX CSS STYLYING --------------------------------- */

.navbar-fixed-left 
{
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  margin-left: 35px;
  border-color: #64ABDD;
  background-color: white
}

.navbar-fixed-left .navbar-nav > li 
{
  float: none;  /* Cancel default li float: left */
  width: 198px;
}



/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu 
{
  margin-top: -50px;
  margin-left: 140px;
}

/* ---------------------------------- RIGHT SIDE NAV FIX CSS STYLYING --------------------------------- */

.navbar-fixed-right 
{
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  margin-right: 20px;
  border-color: #64ABDD;
  background-color: white;
  right: 0;
}

.navbar-fixed-right .navbar-nav > li 
{
  float: none;  /* Cancel default li float: left */
  width: 198px;
}

.navbar-fixed-right + .container 
{
  padding-left: 14%;
  padding-right: -14%;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-right .navbar-nav > li > .dropdown-menu 
{
  margin-top: -50px;
  margin-left: 140px;
}

/* ----------------------------------- TOP SIDE NAV ---------------------------------------- */

#OCAlogo
{
    width: 150px;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}


#loginBtn 
{
   background-color: #64ABDD ;
}


/*#dropdownMenuButton
{
   
   border: none;
   color: #64ABDD;
}*/

/* -----------------------------------CHAT SCREEN ---------------------------------------- */
#user-icon {

    width: 30px;
    height: 30px;
}

#chatwindow {

  overflow-y: scroll;
  overflow-x: hidden;
  height: 470px;
}

.chat-info {
  clear:both;
  float:left;
  height: 160px;
  width: 80px;
  text-align:center;
  overflow: hidden;
}

.chat-info img {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.chat-info b {
  overflow: hidden;
  display: block;
  clear: both;
  padding-top: 7px;
}

.chat-info i{
  font-size: 12px;
  line-height: 1.2;
  display: block;
  opacity: 0.8;
  padding-top: 4px;
}

#messages .chat-message p {
  text-align:left;
  float: left;
  display: inline-block;
  margin-left: 20px;
  margin-bottom:30px;
  padding: 25px 34px;
  min-width: 160px;
  min-height: 10px;
  max-width: 510px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0px 3px 3px #E3E4E6;
  color: #637277;
  line-height: 1.4;
  word-wrap: break-word;
}

     .emoji-picker-icon{
    font-size:20px;
    right: 86px;
    top: 17px;
  }
/* ---------------------------------- CREATE CHAT RELATED --------------------------------- */
#users-to-add {
  height: 250px;
}

/* ---------------------------------- CALENDAR RELATED --------------------------------- */
#eventBox 
{
    margin-top: 2em;
    margin-bottom: 3em;
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 1em;
}

#eventDate 
 {
    font-size: 1.5em;
 }

 #required 
 {
    color: red;
 }

#addButton 
{
    margin-top: 1em;
    margin-bottom: 1em;
}

 .vresize 
 {
    resize: vertical;
 }

/* ---------------------------------- GITHUB RELATED --------------------------------- */
#john
{
  width: 51.0em;
  height: 25.0em;
}

/* ---------------------------------- LOGIN PAGE RELATED --------------------------------- */
#loginBtnMain {
   background-color: #006dfd ;
}

.panel > .panel-heading 
{
    background-image: none;
    color: black;
}

#panel 
{
    background: #525E6C;
    color: white;
}

/* ---------------------------------- OTHER CSS STYLYING --------------------------------- */

#loginbutton
{
    margin-top: 15px;
    margin-bottom: 15px;
}

#main
{
    margin-top: 110px;
}

.navbar
{
    background-color: white;
    border-color: #64abdd;

}

.ng-cloak 
{
    display: none;
}

.outline 
{
    border: 1px solid #ddd;
    border-radius: 3px;
}

.content-title:hover 
{
    cursor: pointer;
    color: #64abdd;
}

.fa {
  color: black;
  cursor: pointer;
}

.fa:hover {
  color: blue;
}


.fa-circle,
.fa-power-off,
.chatgroup-and-category-links {

  color: #64ABDD;
}

.category-title,
.manage-content-title,
.linked-in-title {
  font-family: oswald;
}


/*#submit 
{
    color: white;
    width: 100px;
    float: right;
    margin-right: 2%;
    background-color: #64ABDD;
}

#topnav
{
	border-color: gray;
	border-style: solid;
	border-top-width: 1px;
	font-size: 1.2em;
}

#topcenternav
{
	font-weight: 45px;	
}

#bottomcenternav
{
	margin-top: 2%;
}


#links 
{
    background-color: #64ABDD;
    width: 86%;
    height: 75px;
    margin: 10px;
    color: white;
}

#catbtn 
{
    width: 250px;
    margin-left: 5%;
    margin-top: 2%
}

#rolebtn 
{
    width: 250px;
    margin-top: 1%;
}

#catbtn,
#rolebtn,
#addbtn 
{
    background-color: #64ABDD;
    border-color: #64ABDD;
}


 #allButton 
 {
    padding: 1em;
 }
*/


/* Change the link color on hover */

/*.chat_messages_and_channels:hover {
    background-color: lightgrey;
    color: #525E6C;
}

/*textarea.processed.md-input {
    padding: 10px;
}*/


/* Markdown related CSS -- Beginning */
/*table a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

table a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
}

table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}

table1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
    font-size: 15px;
    background: #eaeaea;
    margin: 10px;
    border: #ccc 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

table th {
    padding: 8px 15px;
    border-bottom: 1px solid #e0e0e0;
    background: #f6f6f6;
    color: #333;
}

table th:first-child {
    text-align: left;
    padding-left: 10px;
}

table tr:first-child th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

table tr:first-child th:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

table tr {
    text-align: center;
    padding-left: 10px;
}

table td:first-child {
    text-align: left;
    padding-left: 10px;
    border-left: 0;
}

table td {
    padding: 8px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fff;
}

table tr:nth-child(2n) td {
    background: #f8f8f8;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

table tr:hover td {
    background: #f4f4f4;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f2f2f2));
    background: -moz-linear-gradient(top, #f4f4f4, #f2f2f2);
}*/

