#topnav{
	border-color: gray;
	border-style: solid;
	border-top-width: 1px;
	font-size: 1.2em;

}
#topcenternav{
	font-weight: 45px;
	
}
#bottomcenternav{
	margin-top: 2%;

}
#bottomleftpnav{

}
#navimg{
	max-width: 30%;
	max-height: 25%;
}

#hat {
   max-width: 50%;
   max-height: 50%;
}

#loginBtn {
   background-color: #64ABDD ;
}

#dropdownMenuButton{
   background-color: #64ABDD;
   border: none;

}

#dropdownMenuButton:hover {

text-background: blue;
}