

.ng-cloak {
    display: none;
}

.outline {
    border: 1px solid #ddd;
    border-radius: 3px;
}


.chat_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #525E6C;
}

.chat_messages_and_channels {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #64ABDD;
    color: white;
}

#panel {
    background: #525E6C;
    color: white;
}

#submit {
    color: white;
    width: 100px;
    float: right;
    margin-right: 2%;
    background-color: #64ABDD;
}


#topnav{
	border-color: gray;
	border-style: solid;
	border-top-width: 1px;
	font-size: 1.2em;

}
#topcenternav{
	font-weight: 45px;
	
}
#bottomcenternav{
	margin-top: 2%;

}
#bottomleftpnav{

}
#navimg{
	max-width: 30%;
	max-height: 25%;
}

#hat {
   max-width: 50%;
   max-height: 50%;
}

#loginBtn {
   background-color: #64ABDD ;
}

#dropdownMenuButton{
   background-color: #64ABDD;
   border: none;

}


#links {
    background-color: #64ABDD;
    width: 180px;
    height: 75;
    margin: 10px;
    color: white;
}

#catbtn {
    width: 250px;
    margin-left: 5%;
    margin-top: 2%
}

#rolebtn {
    width: 250px;
    margin-top: 1%;
}

#catbtn,
#rolebtn,
#addbtn {
    background-color: #64ABDD;
    border-color: #64ABDD;
}

#eventBox {
    margin-top: 2em;
    margin-bottom: 3em;
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 1em;
}

#addButton {
    margin-top: 1em;
    margin-bottom: 1em;
}

 .vresize {
    resize: vertical;
 }

 #eventDate {
    font-size: 1.5em;
 }

 #required {
    color: red;
 }

 #allButton {
    padding: 1em;
 }

/* Change the link color on hover */

/*.chat_messages_and_channels:hover {
    background-color: lightgrey;
    color: #525E6C;
}

/*textarea.processed.md-input {
    padding: 10px;
}*/


/* Markdown related CSS -- Beginning */
/*table a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

table a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
}

table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
    font-size: 15px;
    background: #eaeaea;
    margin: 10px;
    border: #ccc 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

table th {
    padding: 8px 15px;
    border-bottom: 1px solid #e0e0e0;
    background: #f6f6f6;
    color: #333;
}

table th:first-child {
    text-align: left;
    padding-left: 10px;
}

table tr:first-child th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

table tr:first-child th:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

table tr {
    text-align: center;
    padding-left: 10px;
}

table td:first-child {
    text-align: left;
    padding-left: 10px;
    border-left: 0;
}

table td {
    padding: 8px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fff;
}

table tr:nth-child(2n) td {
    background: #f8f8f8;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

table tr:hover td {
    background: #f4f4f4;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f2f2f2));
    background: -moz-linear-gradient(top, #f4f4f4, #f2f2f2);
}*/

