
/* ---------------------------------- LEFT SIDE NAV FIX CSS STYLYING --------------------------------- */

.navbar-fixed-left {
  width: 180px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  float: left;
}

.navbar-fixed-left .navbar-nav > li 
{
  /*float: none;*/  /* Cancel default li float: left */
  width: 178px;
}

.nav > li > a:hover{
    background-color:#003366;
    color: white;
}

.list-of-chats > li > a {

  font-size: 13px;
  color: lightgray;

}

.navbar-fixed-right .nav > li > a,
.navbar-fixed-left .nav > li > a {

line-height: 100%;

}

.navbar-fixed-left .navbar-nav > li > a:focus,
.navbar-fixed-left .navbar-nav > li > a:active {

  color: white;
  background-color: #003366;
}

.navbar-fixed-left .navbar-nav > li > a:hover {
  color: white;
  background-color: #0099cc; 
}


i.fa-times-circle {
  display: none;

}

.channel-name:hover i {
  display:inline;
  float:right;
  color: white;
}
/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}
*/

/* On using dropdown menu (To right shift popuped) 
/*.navbar-fixed-left .navbar-nav > li > .dropdown-menu 
{
  margin-top: -50px;
  margin-left: 140px;
}*

/* ---------------------------------- RIGHT SIDE NAV FIX CSS STYLYING --------------------------------- */

.navbar-fixed-right 
{
  width: 180px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  float: right;
  right: 0;

}

.username {
  color: white;
  font-size: 17px;
  font-weight: 500;
  float: right;

}

.username:hover {
  color:white;
}

.user-info {
 margin-bottom: 70px;
}

.countdown {

  background-color: blue;
}

.navbar-fixed-left > ul.navbar-nav {
  margin-top: 10px;
}

.navbar-fixed-right .navbar-nav > li 
{
  /*float: none;*/  /* Cancel default li float: left */
  width: 198px;
}

.navbar-fixed-right .navbar-nav > li > a:focus,
.navbar-fixed-right .navbar-nav > li > a:active {

  color: white;
  background-color: #003366;
}

.navbar-fixed-right .navbar-nav > li > a:hover {
  color: white;
  background-color: #0099cc; 
}

/*.navbar-fixed-right + .container 
{
  padding-left: 14%;
  padding-right: -14%;
}
*/
/* On using dropdown menu (To right shift popuped) */
/*.navbar-fixed-right .navbar-nav > li > .dropdown-menu 
{
  margin-top: -50px;
  margin-left: 140px;
}*/

/* ----------------------------------- MIDDLE PANE ------------------------------------- */
.middle-content {
  margin: 0 180px 0 180px;
  padding-right: 50px;
  padding-left: 40px;
  padding-top: 30px;
}

/* ----------------------------------- UNSORTED ---------------------------------------- */
.white-text {

  color: white;
}

.chat-group-headings {

  color: white;
  font-weight: bold;

}
.blue-background {

  /*background-color: #33334d;*/
  background-color: #006699;
  /*background-color: #52527a;*/
}

#OCAlogo
{
    width: 150px;
    height: 35px;
    margin-left: -8px;

}


#loginBtn 
{
   background-color: #64ABDD ;
}

/* -----------------------------------CHAT SCREEN ---------------------------------------- */
#user-icon {

    width: 30px;
    height: 30px;
}

#chatwindow {

  overflow-y: scroll;
  overflow-x: hidden;
  height: 470px;
}

.chat-info {
  clear:both;
  float:left;
  height: 160px;
  width: 80px;
  text-align:center;
  overflow: hidden;
}

.chat-info img {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.chat-info b {
  overflow: hidden;
  display: block;
  clear: both;
  padding-top: 7px;
}

.chat-info i{
  font-size: 12px;
  line-height: 1.2;
  display: block;
  opacity: 0.8;
  padding-top: 4px;
}

#messages .chat-message p {
  text-align:left;
  float: left;
  display: inline-block;
  margin-left: 20px;
  margin-bottom:30px;
  padding: 25px 34px;
  min-width: 160px;
  min-height: 10px;
  max-width: 510px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0px 3px 3px #E3E4E6;
  color: #637277;
  line-height: 1.4;
  word-wrap: break-word;
}

.emoji-picker-icon{
    font-size:20px;
    right: 86px;
    top: 17px;
}

/* This is so image thumbnails fill full width of parent and re-size their heights so that the image scales correctly */
.image-thumbnail {

  display: block;
  width: 100%;
  height: auto;
}

.document-thumbnail {

  display: block;
  width: 40px;
  height: 40px;

}

/* ---------------------------------- CREATE CHAT RELATED --------------------------------- */
#users-to-add {
  height: 250px;
}


/* ---------------------------------- MANAGE CATEGORIES RELATED ----------------------------- */

#select-categories-menu {
  height: 150px;
}

/* ---------------------------------- CALENDAR RELATED --------------------------------- */
#eventBox 
{
    margin-top: 2em;
    margin-bottom: 3em;
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 1em;
}

#eventDate 
 {
    font-size: 1.5em;
 }

 #required 
 {
    color: red;
 }

#addButton 
{
    margin-top: 1em;
    margin-bottom: 1em;
}

 .vresize 
 {
    resize: vertical;
 }

/* ---------------------------------- GITHUB RELATED --------------------------------- */
#john
{
  width: 51.0em;
  height: 25.0em;
}

/* ---------------------------------- LOGIN PAGE RELATED --------------------------------- */
#loginBtnMain {
   background-color: #006dfd ;
}

.panel > .panel-heading 
{
    background-image: none;
    color: black;
}

#panel 
{
    background: #525E6C;
    color: white;
}

/* ---------------------------------- OTHER CSS STYLYING --------------------------------- */

.ng-cloak 
{
    display: none;
}

.fa {
  color: black;
  cursor: pointer;
}

.fa-circle,
.fa-power-off {

  color: #64ABDD;
}
