
<div class="panel panel-default">
    <div class="panel-heading">
    	<h3 class="category-title"><b><center>Create a Direct Message</center></b></h3>
    </div>
    <div class="panel-body">
		<form name="createDirectMessage">
			<div class="row">
				<div class="form-group col-xs-8">
					<label for="users">Select Users</label>
					<select class="form-control" name="users" id="users-to-add"ng-model="vm.selectedUsers" multiple required ng-options="users.Id as users.FullName  disable when users.isLoggedIn for users in vm.users">
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<button class="btn btn-danger">Cancel</button>
					<button class="btn btn-primary" ng-click="vm.createDirectMessage()" ng-disabled="createDirectMessage.$invalid">Go</button>
				</div>
			</div>
		</form>
	</div>
</div>
