  <div class="row chatroom">
    <!-- Chatroom name -->
    <div class="col-xs-9 chatroom-title-block">
      <h4><b>{{vm.chatRoomName}}</b></h4>
      <div class="chatroom-title-users-subscribed">
        <i class="fa fa-user-o" aria-hidden="true"></i> {{vm.usersSubscribedToChatRoom}}
      </div>
    </div>
    <div class="col-xs-3 channel-info-show_hide-button">
        <div ng-show="!vm.showChatRoomInfo">
          <i class="fa fa-plus-square-o" ng-click="vm.showChatInfo()"></i> Channel Info
        </div>
        <div ng-show="vm.showChatRoomInfo">
          <i ng-show="vm.showChatRoomInfo" class="fa fa-minus-square-o" ng-click="vm.showChatInfo()"></i> Channel Info
        </div>
    </div>
    
    <!-- Chat Window -->
    <div ng-scrollbars ng-scrollbars-config="vm.scrollbarConfig" scroll-glue id="chatwindow" ng-class="vm.showChatRoomInfo ? 'col-xs-9' : 'col-xs-12'">
      <!-- Chat messages -->
      <ul class="messages" ng-repeat="messages in messages">
          <div class="row">
            <li class='chat-message'>
              <div class="col-xs-1 chatroom-user-icon-container">
                <img src='/app/img/OCAhat.jpg' class="chatroom-user-icon">
              </div>
              <div class='chat-info'>
                <b>{{messages.sender}}</b>
                <i class="chatmessage-datetime-stamp">{{messages.created | date:'MM/dd/yyyy @ h:mma'}}</i>
              </div>
              <div class="chat-message-text-container">
                <p class="chat-message-text" ng-bind-html="messages.message | emoji"></p>
              </div>
            </li>
          </div>
      </ul>
    </div>

    <!-- Chat room info -->
    <div ng-show="vm.showChatRoomInfo" class="col-xs-3 chatroom-info">
      <div>
        <!-- List of users -->
        <div class="user-list">
          <div class="user-list-caption" ng-click="vm.showListOfUsers = !vm.showListOfUsers">
            <h5><i class="fa fa-users" aria-hidden="true"></i> Users ({{usersOnlineAndSubscribedToChatRoom}}/{{vm.usersSubscribedToChatRoom}})</h5>
          </div>
          <table>
              <tr class="list-of-users" ng-show="vm.showListOfUsers" ng-repeat="participants in participants">
                <!-- users name -->
                <td>{{participants.username}}</td>
                <!-- Users login status-->
                <td><i ng-class="{'fa fa-circle-o': !participants.isLoggedIn, 'fa fa-circle': participants.isLoggedIn}"></i></td>
              </tr>
          </table>
        </div>
        <!-- List of files -->
        <table>
          <div class="files-list-caption" ng-click="vm.showListOfFiles = !vm.showListOfFiles">
            <h5><i class="fa fa-files-o" aria-hidden="true"></i> Files ({{numberOfFilesSharedInChatRoom}})</h5>
          </div>
          <tr class="list-of-files" ng-show="vm.showListOfFiles" ng-repeat="files in filesSharedInChatRoom">
            <td>
              <!-- This has a jquery hack to load an alternate image if the primary one specified in ng-src is not available. This is to handle the cases where the file in question is not an image. We still want to display an icon showing the type of doc it is -->
              <img class="document-thumbnail" ng-src="{{vm.originLoungeExpressAPIBaseURL}}/{{files._id}}" altSrc="/app/img/{{files.metadata.documentThumbnailIcon}}" onerror="this.src = $(this).attr('altSrc')">
            <!-- file name -->
            <td>{{files.filename}}</td>
            <!-- file download icon-->
            <td><i class='fa fa-download' ng-click="vm.downloadFile(files._id, files.filename)"></i></td>
          </tr>
        </table>
      </div>
    </div>

  <!-- Chat message form -->
  <form name="chatMessage" class="foot">
    <div ng-class="vm.showChatRoomInfo ? 'col-xs-8' : 'col-xs-11'">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="file" ngf-select="vm.upload($file)">+</button>
        </span>
        <textinput id="chatmessage" data-emojiable="true" type="text" class="form-control" ng-model="vm.chatMessage"></textinput>
      </div>
    </div>
    <div style="margin-left:-32px;" class="col-xs-1">
      <button type="submit" class="btn btn-primary chat-message-send-button" ng-click="vm.sendChatMessage()" ng-disabled="chatMessage.$invalid">Send
      </button>
    </div>
  </form>
    <div ng-show="vm.fileUploadInProgress" idle-countdown="countdown" ng-init="" class="progressbar" ng-class="vm.showChatRoomInfo ? 'col-xs-8' : 'col-xs-11'">
      <uib-progressbar max="10" value="countdown" animate="false" type="success" class="progress-striped active">
      {{vm.fileUploadMessage}}</uib-progressbar>
    </div>


</div>


