    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 50%; }
      form input { border: 0; padding: 10px; width: 89%; margin-right: .5%; }
      form button { width: 10%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>

      <!-- Chatroom name -->
      <h4>{{vm.chatRoomName}}</h4>
    <!-- Chat Window -->
    <div scroll-glue id="chatwindow" class="col-xs-10">
      <!-- Chat messages -->
      <ul id="messages" ng-repeat="messages in messages">
            <li class='chat-message'>
              <div class='chat-info'>
                <img src='/app/img/OCAhat.jpg'>
                <b>{{messages.sender}}</b>
                <i>{{messages.created | date:'MM/dd/yyyy @ h:mma'}}</i>
              </div>
              <p>{{messages.message}}</p>
            </li>
      </ul>
      <!-- Chat message form -->
      <form name="chatMessage">
        <input ng-model="vm.chatMessage" required>
        <button type="submit" ng-click="vm.sendChatMessage()" ng-disabled="chatMessage.$invalid">Send</button>
      </form>
    </div>

    <!-- List of users in Chatroom-->
    <div class="col-xs-2">
      <div>
        <table>
          <caption><h4>Users</h4></caption>
          <tr ng-repeat="participants in participants">
            <!-- users name -->
            <td>{{participants.username}}</td>
            <!-- Users login status-->
            <td><i ng-class="{'fa fa-circle-o': !participants.isLoggedIn, 'fa fa-circle': participants.isLoggedIn}"></i></td>
          </tr>
        </table>
      </div>
    </div>

