<!-- These are all inline styles to enable markdown editor to apply markdown. If we move these out to style.css, 
we will end up breaking the styling of the calendar. So if we decide we want to move these off the page, we may
need to consider targeting the markdown editor's table in ways other than targetting the table element in general  -->

<style>
table a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

table a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
}

table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
    font-size: 15px;
    background: #eaeaea;
    margin: 10px;
    border: #ccc 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

table th {
    padding: 8px 15px;
    border-bottom: 1px solid #e0e0e0;
    background: #f6f6f6;
    color: #333;
}

table th:first-child {
    text-align: left;
    padding-left: 10px;
}

table tr:first-child th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

table tr:first-child th:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

table tr {
    text-align: center;
    padding-left: 10px;
}

table td:first-child {
    text-align: left;
    padding-left: 10px;
    border-left: 0;
}

table td {
    padding: 8px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fff;
}

table tr:nth-child(2n) td {
    background: #f8f8f8;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

table tr:hover td {
    background: #f4f4f4;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f2f2f2));
    background: -moz-linear-gradient(top, #f4f4f4, #f2f2f2);
}
</style>

<!-- middle panel of dashboard/main page -->

<div class="panel panel-default">
    <div class="panel-heading custom_class">
        <h3><b>Manage Content</b></h3></div>
    <div class="panel-body">
        <form class="form-horizontal" name="addContent">
            <div class="form-group">
                <label class="control-label col-sm-3" for="username">Select Categories</label>
                <div class="col-sm-9">
                    <select multiple required ng-model="vm.selectedCategories" ng-options="item._id as item.name for item in vm.categories">
                        <option value="">Select Categories</option>
                    </select>
                </div>
            </div>

            <!-- Content Title Input --> 
            <div>
                <label class="control-label" for="title">Content Title</label>
                <br>
                <div class="">
                    <input id="title" name="title" type="text" ng-model="vm.contentTitle" class="form-control" required>
                </div>
            </div>
            <br>

            <!-- Markdown text editor window -->
            <label class="control-label">Content Body</label>
            <textarea required name="content" markdown-editor="{'iconlibrary': 'fa', addExtraButtons: true, resize: 'vertical'}" rows="10" ng-model="vm.contentBody"></textarea>
        
            <!-- Markdown preview window -->
            <div class="col-md-12">
                <div class="form-group">
                    <br>
                    <label for="comment">Markdown Preview:</label>
                    
                    <!-- Title of Content -->
                    <h1 class="text-left">{{vm.contentTitle}}</h1>

                    <!-- Markdown preview -->
                    <div marked="vm.contentBody" class="outline" style="padding: 20px">
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <div>
                <button id="submit" type="button" class="btn btn-md" ng-click="vm.addContent()" ng-disabled="addContent.$invalid">Submit</button>
            </div>
        </form>
    </div>
</div>
