<style>
body { background-color: lightgray; }
</style>
<!-- middle panel of dashboard/main page -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3><b><center>Manage Content</center></b></h3></div>
    <div class="panel-body">
        <form class="form-horizontal" name="addContent">
            <div class="form-group">
                <label class="control-label col-sm-3 col-lg-3 col-md-3 col-xs-3" for="username">Select Categories</label>
                <div class="col-sm-9 col-lg-9">
                    <select multiple required ng-model="vm.selectedCategories" ng-options="item._id as item.name for item in vm.categories">
                        <option value="">Select Categories</option>
                    </select>
                </div>
            </div>
            <!-- Content Title Input -->
            <div>
                <label class="control-label" for="title">Content Title</label>
                <br>
                <div class="">
                    <input id="title" name="title" type="text" ng-model="vm.contentTitle" class="form-control" required>
                </div>
            </div>
            <br>
            <!-- Markdown text editor window -->
            <label class="control-label">Content Body</label>
            <textarea required name="content" markdown-editor="{'iconlibrary': 'fa', addExtraButtons: true, resize: 'vertical'}" rows="10" ng-model="vm.contentBody"></textarea>
            <!-- Markdown preview window -->
            <div class="col-md-12">
                <div class="form-group">
                    <br>
                    <label for="comment">Markdown Preview:</label>
                    <!-- Title of Content -->
                    <h1 class="text-left">{{vm.contentTitle}}</h1>
                    <!-- Markdown preview -->
                    <div marked="vm.contentBody" class="outline" style="padding: 20px">
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div>
                <button id="submit" type="button" class="btn btn-md" ng-click="vm.addContent()" ng-disabled="addContent.$invalid">Submit</button>
            </div>
        </form>
    </div>
</div>
