<div class="panel panel-default">
    <div class="panel-heading custom_class">
        <h3><b>Manage Content</b></h3></div>
    <div ui-view></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <form id="form1" class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" id="input1" placeholder="Add Category">
                        </div>
                        <button id="addbtn" type="submit" class="btn btn-primary">Add</button>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Active
                            </label>
                        </div>
                        <br>
                        <div class="btn-group">
                            <button id="rolebtn" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Role <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Student</a></li>
                                <li><a href="#">Alumni</a></li>
                            </ul>
                            <div class="btn-group">
                                <button id="catbtn" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Category <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Assignments</a></li>
                                    <li><a href="#">Syllabus</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    <hr/>
                    <textarea name="content" markdown-editor="{'iconlibrary': 'fa', addExtraButtons: true, resize: 'vertical'}" rows="10" ng-model="markdown"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="comment">Preview Result:</label>
                    <div marked="markdown" class="outline" style="padding: 20px">
                    </div>
                </div>
            </div>
            <div>
                <button id="submit" type="submit" class="btn btn-md">Submit</button>
            </div>
        </div>
    </div>
</div>
