<style>
body 
{
    background-color: lightgray;
}
</style>
<!-- TOP FIX NAV -->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
            <a href="#main/calendar_index"><img id="OCAlogo" src="app/img/OCAhat.jpg"></a>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-center">
            <h1 style="font-family: oswald; color: #1f0845"><strong> ORIGIN LOUNGE</strong></h1>
        </div>
        <div id="loginbutton" class="col-md-3 col-lg-3 col-xs-3 col-sm-3 text-right">
            <button class="form-control" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{vm.username}}
            </button>

            <div class="dropdown-menu dropdown-menu-right form-control" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item align-center content-title" ng-click="vm.logOut()"><center>Log Out</center></a>
            </div>       
        </div>
    </div>
</nav>

<!-- LEFT SIDE FIXED NAV -->

<div class="navbar navbar-fixed-left">
    <a class="navbar-brand" style="font-family: oswald; color: #1f0845" >- Chat Channels -</a>
    <ul class="nav navbar-nav">
        <ul ng-repeat="groups in vm.chatGroups">
            <li ng-hide="groups.groupname === 'direct'"><a ui-sref="main.chat"><h5 ng-val="groups.chatid" >{{groups.groupname}}</h5></a></li>
        </ul>

        <ul ng-repeat="groups in vm.chatGroups ">
            <li ng-show="groups.groupname === 'direct'"><a ui-sref="main.chat"><h5 ng-val="groups.chatid"><span ng-repeat="name in groups.usernames">  {{name}}</span></h5></a></li>
        </ul>
      
    </ul>   
        <a class="navbar-brand" style="font-family: oswald; color: #1f0845">- Messages -</a>
    <ul class="nav navbar-nav">    
        <li><a href="#">-jeffwinkler</a></li>
        <li><a href="#">-seancahall</a></li>
        <li><a href="#">-cameronwilby</a></li>
        <li><a href="#">-jennyclayton</a></li>
        <li><a href="#">-kellylovett</a></li>
  </ul>
</div>

<!-- RIGHT SIDE FIXED NAV -->

<div class="navbar navbar-fixed-right">
    <a class="navbar-brand" style="font-family: oswald; color: #1f0845">- User Feed -</a>
    <ul class="nav navbar-nav">
        <li>
            <a ui-sref="main.countdown">
                <iframe src="http://free.timeanddate.com/countdown/i5gd5j01/n770/cf12/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac525e6c/cpc525e6c/pct/tcfff/fs100/szw320/szh135/tac000/tptTime%20since%20Event%20started%20in/tpc000/mac000/mpc000/iso2016-12-16T00:00:00" allowTransparency="true" frameborder="0" width="113" height="50"></iframe>
            </a>
        </li>
        <li>
            <a ng-repeat="category in vm.categories" ng-click="vm.getContentByCategoryId(category.categoryId, category.categoryName)" type="submit" role="button">{{category.categoryName}}
            </a>
        </li>

        <li> 
             <a ui-sref="main.calendar_index" role="button">Calendar</a>
        <li>     
             <a ui-sref="main.linkedin_index" role="button">Linkedin</a>
        </li>            
        <li>     
             <a ui-sref="main.github_index" role="button">GitHub Content</a>
        </li>
        <li>
            <a ui-sref="main.managecontent" role="button" ng-show="vm.isAdmin">Manage Content</a>
        </li>
    </ul>
</div>

<!-- MIDDLE STATE -->

<div id="main" class="container">
    <div class="col-xs-7 col-lg-10 col-sm-9 col-md-10">

        <div ui-view></div>       
    </div>
</div>




<!-- 
<div class="col-md-3 col-lg-3 col-sm-3">
        <div id="panel" class="panel panel-default">
            
               
              
                <p>
                    <h4><b>MESSAGES</b><span class="pull-right"><button class="btn btn-primary btn-xs active" ui-sref="main.chatAdd">+</button></span></h4>
                </p>
                <ul ng-repeat="groups in vm.chatGroups ">
                    <li ng-show="groups.groupname === 'direct'"><a ui-sref="main.chat"><h5 ng-val="groups.chatid"><span ng-repeat="name in groups.usernames">    {{name}},   </span></h5></a></li>
                </ul>
                <p>
                </p>
            </div>
        </div>
    </div> 
<div class="navbar navbar-fixed-left">
    <a class="navbar-brand" style="font-family: oswald; color: #1f0845">- Origin Chat -</a>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Channels <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"># Cohort6</a></li>
                <li><a href="#"># Cohort7</a></li>
                <li><a href="#"># General</a></li>
            </ul>
        </li>
    </ul>   
        <a class="navbar-brand" style="font-family: oswald; color: #1f0845">- Messages -</a>
    <ul class="nav navbar-nav">    
        <li><a href="#">-jeffwinkler</a></li>
        <li><a href="#">-seancahall</a></li>
        <li><a href="#">-cameronwilby</a></li>
        <li><a href="#">-jennyclayton</a></li>
        <li><a href="#">-kellylovett</a></li>
  </ul>
</div>
    -->

    
