<style>
body 
{
    background-color: lightgray;
}
</style>
<!-- Top fixed nav -->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
            <a href="#main/calendar_index"><img id="OCAlogo" src="app/img/OCAhat.jpg"></a>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-center">
            <h1 style="font-family: oswald; color: #1f0845"><strong> ORIGIN LOUNGE</strong></h1>
        </div>
        <div id="loginbutton" class="col-md-3 col-lg-3 col-xs-3 col-sm-3 text-right">
            <button class="form-control" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{vm.username}}
            </button>

            <div class="dropdown-menu dropdown-menu-right form-control" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item align-center content-title" ng-click="vm.logOut()"><center>Log Out</center></a>
            </div>       
        </div>
    </div>
</nav>

<!-- Left Side Fixed Nav -->

<div class="navbar navbar-fixed-left">
    <!-- List of Channels User Is Subscribed To -->
    <a class="navbar-brand" style="font-family: oswald; color: #1f0845" >Chat Channels  <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    <ul class="nav navbar-nav">
        <table>
            <tr ng-repeat="groups in vm.chatGroups">
                <td class="col-xs-11" ng-hide="groups.groupType === 'direct'">
                    <a ui-sref="main.chat"><h5 ng-val="groups.chatid">{{groups.channelname}}</h5></a>
                </td>
                <td class="col-xs-1" ng-hide="groups.groupType === 'direct'">
                    <a><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                </td>
            </tr>
        </table>              
    </ul>   
    
    <!-- List of Direct Messages User is involved in -->
    <a class="navbar-brand" style="font-family: oswald; color: #1f0845">Messages <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    <ul class="nav navbar-nav">    
        <table>
            <tr ng-repeat="groups in vm.chatGroups">
                <td class="col-xs-11" ng-show="groups.groupType === 'direct'">
                    <a ui-sref="main.chat"><h5 ng-val="groups.chatid">{{groups.usernames}}</h5></a>
                </td>
                <td class="col-xs-1" ng-show="groups.groupType === 'direct'">
                    <a><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                </td>
            </tr>
        </table>
  </ul>
</div>

<!-- Right Side Fixed Nav -->

<div class="navbar navbar-fixed-right">
    <a class="navbar-brand" style="font-family: oswald; color: #1f0845">User Feed</a>
    <ul class="nav navbar-nav">
        <li>
            <a ui-sref="main.countdown">
                <iframe src="http://free.timeanddate.com/countdown/i5gd5j01/n770/cf12/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac525e6c/cpc525e6c/pct/tcfff/fs100/szw320/szh135/tac000/tptTime%20since%20Event%20started%20in/tpc000/mac000/mpc000/iso2016-12-16T00:00:00" allowTransparency="true" frameborder="0" width="113" height="50"></iframe>
            </a>
        </li>
        <li>
            <a ng-repeat="category in vm.categories" ng-click="vm.getContentByCategoryId(category.categoryId, category.categoryName)" type="submit" role="button">{{category.categoryName}}
            </a>
        </li>

        <li> 
             <a ui-sref="main.calendar_index" role="button">Calendar</a>
        <li>     
             <a ui-sref="main.linkedin_index" role="button">Linkedin</a>
        </li>            
        <li>     
             <a ui-sref="main.github_index" role="button">GitHub Content</a>
        </li>
        <li>
            <a ui-sref="main.managecontent" role="button" ng-show="vm.isAdmin">Manage Content</a>
        </li>
    </ul>
</div>

<!-- Content Displayed in the "middle" pane of the dashboard -->

<div id="main" class="container">
    <div class="col-xs-7 col-lg-10 col-sm-9 col-md-10">

        <div ui-view></div>       
    </div>
</div>
