
<div class="container">

<div class="col-lg-6">
<img id="john" src="app/img/john.png">
</div>
	<!-- <div class="row">
		<div class="col-md-4">
			<img src="../app/img/john.png" height="125px" width="250px" type="button" ng-click="vm.click()" id="githubbtn">
				<div>
					<img src="{{vm.repo[0].owner.avatar_url}}" style="width:250px;height:250px;" id="githubpic">
				</div>
		</div>
		<div class="col-md-8" id="repos">
			<table border="2">
				<tbody>
					<tr ng-repeat="data in vm.repo | orderBy: 'created_at':true">
						<td class="repo"><a ng-href="{{data.html_url}}">{{data.name}}</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div> -->
</div>

